body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  color: #eee;
  font-family: 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  font-weight: 300;
  letter-spacing: .05em;
}

.top .full-landing-image {
  width: 100%;
  height: auto;
  background: url(img/photo-1593642703013-5a3b53c965f6.jpeg) no-repeat center;
  background-size: cover;
  padding-bottom: 20px;
  object-fit: cover;
}

.top .full-landing-image .top-titile {
  padding-top: 200px;
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  color: white;
}

.top .full-landing-image .top-titile h1 {
  font-size: 80px;
  margin: 0;
}

.top .full-landing-image .top-titile h2 {
  font-size: 20px;
}

.top .full-landing-image .top-titile .list-top {
  margin: 0 auto;
  width: 70vh;
}

.top .full-landing-image .top-titile .list-top ul {
  display: flex;
  justify-content: space-between;
}

.top .full-landing-image .top-titile .list-top ul li {
  color: #eee;
  list-style: none;
}

.top .full-landing-image .top-titile .list-top ul li a {
  text-decoration: none;
  color: white;
}

.top .full-landing-image .top-titile .list-top ul li a img {
  background-color: white;
  border-radius: 50%;
  padding: 1vh;
  width: 10vh;
}

.top .full-landing-image .top-titile .top-contact {
  width: 500px;
  margin: 0 auto;
  border-top: 1px solid white;
}

.top .full-landing-image .top-titile .top-contact a {
  text-decoration: none;
  color: #fff;
}

/*--------------------------------
scroll animation fadein
--------------------------------*/
.Page-Btn {
  z-index: 10000;
  position: fixed;
  right: 14px;
  bottom: 14px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
  background: #5bc8ac;
}

.Page-Btn-Icon {
  color: #fff;
  font-size: 16px;
}

.wrap {
  overflow: hidden;
}

@media (min-width: 680px) and (max-width: 960px) {
  .top .full-landing-image .top-titile {
    padding-top: 180px;
  }
  .top .full-landing-image .top-titile h1 {
    font-size: 70px;
  }
  .top .full-landing-image .top-titile h2 {
    font-size: 20px;
    margin-bottom: 60px;
  }
  .top .full-landing-image .top-titile .list-top {
    width: 80vw;
  }
  .top .full-landing-image .top-titile .list-top ul li a img {
    padding: 0.2vh;
  }
  .top .full-landing-image .top-titile .top-contact {
    width: 500px;
    margin: 0 auto;
    border-top: 1px solid white;
  }
  .top .full-landing-image .top-titile .top-contact a {
    text-decoration: none;
    color: #fff;
  }
}

@media (max-width: 679px) {
  .top .full-landing-image .top-titile {
    padding-top: 100px;
  }
  .top .full-landing-image .top-titile h1 {
    font-size: 50px;
  }
  .top .full-landing-image .top-titile h2 {
    font-size: 16px;
    margin-bottom: 60px;
  }
  .top .full-landing-image .top-titile .list-top {
    width: 80vw;
  }
  .top .full-landing-image .top-titile .list-top ul {
    padding: 0;
  }
  .top .full-landing-image .top-titile .list-top ul li {
    padding: 10px;
  }
  .top .full-landing-image .top-titile .list-top ul li a img {
    padding: 10px;
    width: 11vw;
  }
  .top .full-landing-image .top-titile .top-contact {
    width: 380px;
    margin: 0 auto;
    border-top: 1px solid white;
  }
  .top .full-landing-image .top-titile .top-contact a {
    text-decoration: none;
    color: #fff;
  }
}
