.instagram_container {
    max-width:1400px;
    margin: 0 auto;
    margin-bottom:200px;
}

.instgram_title {
    color: rgba(250, 136, 240,0.7);
    text-align:left;
    margin-left:40px;
    h2{
        font-weight: bold;
        font-size:46px;
    }
}

.instgram_filter {
    position: relative;
    cursor: pointer;
    a{
        display: block;
        height: 100%;
    }
    
}

.instgram_container {
    width:100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    .instgram_box {
        position: relative;
        margin: 0 auto;
        h1,p {
            position: absolute;
            color:#fff;
        }
        h1 {
            font-size:4vw;
            top:30%;
            left:50%;
        }
        .top1{
            font-size: 2vw;
            top:50%;
            left:50%;
        }
        .second2 {
            font-size:1vw;
            top:58%;
            left:50%;
        }
        .img-filter {
            background-color: black;
            overflow: hidden;
            transition: 5s;
            &:hover {
                // filter:opacity(60%);
                filter:brightness(2);
            }
        }
        img{
            width:100%;
            opacity: 0.6; /** 画像の透明度 */
            transition: 4s;
            &:hover {
                transform: scale(1.5);
            }
        }
    }
}




@media (min-width: 680px) and (max-width: 960px) {

    .instagram_container {
        max-width:700px;
    }

    .instgram_title {
        text-align:center;
        h2{
            font-weight: bold;
            font-size:30px;
        }
    }

    .instgram_filter {
        margin-top: 80px;
    }

    .instgram_container {
        .instgram_box {
            h1 {
                font-size:4vw;
                top:30%;
                left:50%;
            }
            .top1{
                font-size: 16px;
                top:50%;
                left:50%;
                padding-bottom:10px;
            }
            .second2 {
                font-size:1vw;
                top:58%;
                left:50%;
            }
        }
    }
}