.work_content {
  max-width: 1400px;
  margin: 0 auto;
  margin-bottom: 200px;
}

.work_content .work_top {
  text-align: left;
  margin-left: 120px;
}

.work_content .work_top h1 {
  color: rgba(180, 173, 75, 0.6);
  font-size: 46px;
}

.portfolio {
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio .card {
  text-align: center;
  margin: 10px;
}

.portfolio .card img {
  transition: all 0.3s ease 0s;
}

.portfolio .card img:hover {
  box-shadow: 0 0 10px 0 white;
  transform: translateY(-0.1875em);
}

.portfolio .card .card_body .card_title {
  font-size: .8vw;
}

.portfolio .card .card_body .card_text {
  margin-top: 6px;
  font-size: .4vw;
}

.portfolio .card .card_body .card_url {
  margin-top: 6px;
  transition: all 0.3s ease 0s;
}

.portfolio .card .card_body .card_url:hover {
  transform: translateY(-0.1875em);
}

.portfolio .card .card_body .card_url a {
  display: block;
  height: 100%;
  color: white;
  text-decoration: none;
}

.portfolio .card .card_body .card_url a:hover {
  color: #858282;
}

.portfolio img {
  width: 26vw;
}
