.work_content {
    max-width:1400px;
    margin: 0 auto;
    margin-bottom:200px;
    .work_top {
        text-align:left;
        margin-left:120px;
        h1 {
            color:rgba(180, 173, 75,0.6);
            font-size:46px;
        }
    }
}

.portfolio {
    height:auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .card {
        text-align:center;
        margin:10px;
        img {
            transition: all 0.3s ease 0s;
            &:hover {
                box-shadow: 0 0 10px 0 rgb(255, 255, 255);
                transform: translateY(-0.1875em);
            }
        }
        .card_body {
            .card_title {
                font-size: .8vw;
            }
            .card_text {
                margin-top:6px;
                font-size: .4vw;
            }
            .card_url {
                margin-top:6px;
                transition: all 0.3s ease 0s;
                &:hover {
                    transform: translateY(-0.1875em);
                }
                a {
                    border: 1px solid rgb(161, 159, 159);
                    display:block;
                    margin:0 auto;
                    width:20vw;
                    height: 100%;
                    color:rgb(255, 255, 255);
                    text-decoration:none;
                    &:hover {
                        color:rgb(133, 130, 130);
                    }
                }
            }
        }
    }
    img {
        width:26vw;
    }
}



@media (min-width: 680px) and (max-width: 960px) {
    /* ここに幅が680px～960pxまでの CSS を記述 */
    .work_content { 
        .work_top {
            margin-left:80px;
            h1 {
                margin:0;
            }
        }
    }

    .portfolio {
        margin-top:80px;
        height:auto;
        display: block;
        justify-content: center;
        flex-wrap: nowrap;
        .card {
            text-align:center;
            margin:10px;
            img {
                width:80vw;
                transition: all 0.3s ease 0s;
                &:hover {
                    box-shadow: 0 0 10px 0 rgb(255, 255, 255);
                    transform: translateY(-0.1875em);
                }
            }
            .card_body {
                .card_title {
                    font-size: 1.4vw;
                }
                .card_text {
                    margin-top:6px;
                    font-size: .8vw;
                }
            .card_url {
                margin-top:6px;
                transition: all 0.3s ease 0s;
                &:hover {
                    transform: translateY(-0.1875em);
                }
                a {
                    border: 1px solid rgb(161, 159, 159);
                    display:block;
                    margin:0 auto;
                    width:80vw;
                    height: 100%;
                    color:rgb(255, 255, 255);
                    text-decoration:none;
                    &:hover {
                        color:rgb(133, 130, 130);
                    }
                }
            }
            }
        }
        .sppf {
            display:none;
        }
        img {
            width:26vw;
        }
    }
}


@media (max-width: 679px) {

    .work_content {
        max-width:1400px;
        margin: 0 auto;
        margin-bottom:200px;
        .work_top {
            float:left;
            margin-left:80px;
            h1 {
                color:rgba(180, 173, 75,0.6);
                font-size:46px;
                margin:0;
            }
        }
    }

    .portfolio {
        margin-top:40px;
        height:auto;
        display: block;
        justify-content: center;
        flex-wrap: nowrap;
        .card {
            text-align:center;
            margin:10px;
            img {
                width:80vw;
                transition: all 0.3s ease 0s;
                &:hover {
                    box-shadow: 0 0 10px 0 rgb(255, 255, 255);
                    transform: translateY(-0.1875em);
                }
            }
            .card_body {
                .card_title {
                    font-size: 14px;
                }
                .card_text {
                    margin-top:6px;
                    font-size: 11px;
                }
            .card_url {
                margin-top:6px;
                transition: all 0.3s ease 0s;
                &:hover {
                    transform: translateY(-0.1875em);
                }
                a {
                    border: 1px solid rgb(161, 159, 159);
                    display:block;
                    margin:0 auto;
                    width:80vw;
                    height: 100%;
                    color:rgb(255, 255, 255);
                    text-decoration:none;
                    &:hover {
                        color:rgb(133, 130, 130);
                    }
                }
            }
            }
        }
        .sppf {
            display:none;
        }
        img {
            width:26vw;
        }
    }
}