@charset "UTF-8";
.skill_content {
  max-width: 1400px;
  margin: 0 auto;
  margin-bottom: 200px;
}

.skill_content .skill_top {
  text-align: left;
  margin-left: 120px;
}

.skill_content .skill_top h1 {
  color: rgba(180, 173, 75, 0.6);
  font-size: 46px;
}

.skill_content .skill_box {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.skill_content .skill_box .skill_type {
  padding-bottom: 40px;
}

.skill_content .skill_box .skill_type .skill_image img {
  display: inline-block;
  width: 8vh;
}

.skill_content .skill_box .skill_type .skill_text {
  color: rgba(238, 238, 238, 0.705);
}

.skill_content .skill_box .skill_type .skill_text h2 {
  margin: 0;
  font-size: 3vh;
}

.skill_content .skill_box .skill_type .skill_text p {
  margin: 0;
}

.skill_content .skill_box .skill_type:nth-child(3n+1) {
  margin-left: 0;
}

.rate {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 16px;
  font-size: 16px;
}

.rate:before, .rate:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  display: inline-block;
  height: 16px;
  line-height: 16px;
}

.rate:before {
  color: #ddd;
}

.rate:after {
  color: #ffa500;
  overflow: hidden;
  white-space: nowrap;
}

.rate0:after {
  width: 0;
}

.rate0-5:after {
  width: 8px;
}

.rate1:after {
  width: 16px;
}

.rate1-5:after {
  width: 24px;
}

.rate2:after {
  width: 32px;
}

.rate2-5:after {
  width: 40px;
}

.rate3:after {
  width: 48px;
}

.rate3-5:after {
  width: 56px;
}

.rate4:after {
  width: 64px;
}

.rate4-5:after {
  width: 72px;
}

.rate5:after {
  width: 80px;
}
